/**
 * Editor Styles
 */

.wp-block-bight-summary-and-details  {
	.summary {
		&::before {
			content: "\25b6\a0\a0";
			display: inline;
			font-size: 0.8em;
		}
	}

	.details { display: none; }

	.is-selected &,
	.is-typing & {
		.summary {
			&::before {
				content: "\25bc\a0";
			}
		}

		.details { display: block; }
	}
}
